<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-darkmode"
        version="1.0.0">

    <name>DarkMode</name>

    <engines>
      <engine name="cordova" version=">=9.0.0"/>
      <engine name="cordova-android" version=">=9.0.0"/>
    </engines>

    <js-module name="DarkMode" src="www/darkmode.js">
      <clobbers target="DarkMode"/>
    </js-module>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="DarkMode">
                <param name="android-package" value="cordova.plugins.darkmode.CDVDarkMode"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>
        <source-file src="src/android/CDVDarkMode.java" target-dir="src/cordova/plugins/darkmode"/>
    </platform>
</plugin>
